extends ../_shared/_master

block main
    #main
        .container
            #login-register-page
                h1#main-title Login
                #login
                    != messages()
                    form#login-form(action='/auth/login', method="POST")
                        label(for='login-username') Username
                        br
                        input#login-username.form-control(type='text', name='username')
                        br
                        label(for='login-password') Password
                        br
                        input#login-password.form-control(type='password', name='password')
                        br
                        button.btn.btn-primary(type='submit') Login