<!DOCTYPE html>
html(lang='en')
head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title
        block title
    link(rel='icon', href='/images/favicon.ico')
    link(rel='stylesheet', href='/libs/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/libs/toastr/build/toastr.min.css')
    link(rel='stylesheet', href='/libs/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='/libs/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css')
    link(rel='stylesheet', href='/css/main.css')
    script(src='/libs/jquery/dist/jquery.min.js')
    script(src='/libs/toastr/build/toastr.min.js')
body
    nav.navbar.navbar-default.navbar-static-top
        .container-fluid
            .navbar-header
                a.navbar-brand(href='/')
                    img(src='/images/logo.png', width='166', height='50', alt='Car Rentals logo')
            ul.nav.navbar-nav
                li
                    a(href='/cars') Cars
                li
                    a(href='/deals') Deals
            ul.nav.navbar-nav.navbar-right
                if user
                    li.my-account.dropdown
                        a.dropdown-toggle(data-toggle='dropdown', href='#')
                            #my-account-logo
                                img(src='/images/my-account.png', alt='my-account')
                            #my-account-link 
                                !=user.username
                            span.caret
                        ul.dropdown-menu
                            if user.role == "admin"
                                li#dashboard-menu
                                    a(href='/auth/viewusers') Dashboard
                            li#profile
                                a(href='/auth/profile') Profile
                            li#mybookings
                                a(href='/auth/bookings') My Bookings
                            li#leavereview
                                a(href='/auth/review') Leave Review
                            li#logout
                                a(href='/auth/logout') Logout
                else
                    li.register
                        a(href='/auth/register') Register
                    li.login
                        a(href='/auth/login') Login

    block topContainer
    
    block main

    footer.text-center.footer
        .row
        div
            small
                strong 
                    | Author:
                a(href='https://github.com/team-asterisk/CarRentals', target='_blank') 
                    | Team Asterisk
                br
            small
                strong 
                    | © 2017
    block body-end-scripts
        script(src='/libs/bootstrap/dist/js/bootstrap.min.js')
        script(src='/libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js')
        script(src='/libs/toastr/build/toastr.min.js')
        script(src='/js/main.js')