* text=auto
# Images should be treated as binary
# (binary is a macro for -text -diff)
*.png     binary
*.otf     binary
*.woff    binary		
*.woff2   binary
*.ttf     binary
*.eot     binary
*.jepg    binary
*.sdf     binary
* text eol=lf
* text eol=lf