extends _shared/_master

block title
    | Car Rentals - Home

block topContainer
    #top-container
        .search-form
            form(action='/searchcars', method='GET')
                input(type='hidden', name='_csrf', value=csrfTokenFunc())
                select(name='category', id='select-category', title='category')
                    option(value='', disabled='', selected='') Choose category
                    option(value='All', title='AllCategories') All
                    option(value='Economy', title='Economy') Economy
                    option(value='Compact', title='Compact') Compact
                    option(value='Fullsize', title='Fullsize') Full-size
                    option(value='Premium', title='Premium') Premium
                    option(value='SUV', title='SUV') SUV
                    option(value='Van', title='Van') Van
                input.search-form-input.datepicker-from(id='pickup_date' name='pickup_date' type='text', placeholder='Pickup Date')
                
                input.search-form-input.datepicker-to(id='dropoff_date' name='dropoff_date' type='text', placeholder='Dropoff Date')
                
                button.search-form-btn(id='search_submit' type='submit')
                    span Search


block main
    #main
        .container
            #car-categories-home-page
                h2#price-by-category Car Rental Prices by Category
                .row.eq-height
                    .col-xs-12.col-sm-6.col-md-4.eq-height
                        article.car-single-compact
                            a(href='/cars/Economy')
                                .car-category
                                    span.price From $ 10/day
                                    span.car-class Economy
                                    span.passengers-bags 2 Adults, 2 Bags 
                                    span.car-image
                                        img(src='./images/car-economy.png', alt='Economy car')
                                    button.car-select-button(id='select_economy') Select
                    .col-xs-12.col-sm-6.col-md-4.eq-height
                        article.car-single-compact
                            a(href='/cars/Compact')
                                .car-category
                                    span.price From $ 11/day
                                    span.car-class Compact
                                    span.passengers-bags 4 Adults, 2 Bags 
                                    span.car-image
                                        img(src='./images/car-compact.png', alt='Compact car')
                                    button.car-select-button(id='select_compact') Select
                    .col-xs-12.col-sm-6.col-md-4.eq-height
                        article.car-single-compact
                            a(href='/cars/FullSize')
                                .car-category
                                    span.price From $ 12/day
                                    span.car-class Full-Size
                                    span.passengers-bags 5 Adults, 2 Bags 
                                    span.car-image
                                        img(src='./images/car-full-size.png', alt='Full-Size car')
                                    button.car-select-button(id='select_fullsize') Select
                .row.eq-height
                    .col-xs-12.col-sm-6.col-md-4.eq-height
                        article.car-single-compact
                            a(href='/cars/Premium')
                                .car-category
                                    span.price From $ 15/day
                                    span.car-class Premium
                                    span.passengers-bags 5 Adults, 5 Bags 
                                    span.car-image
                                        img(src='./images/car-premium.png', alt='Premium car')
                                    button.car-select-button(id='select_premium') Select
                    .col-xs-12.col-sm-6.col-md-4.eq-height
                        article.car-single-compact
                            a(href='/cars/SUV')
                                .car-category
                                    span.price From $ 14/day
                                    span.car-class SUV
                                    span.passengers-bags 5 Adults, 5 Bags 
                                    span.car-image
                                        img(src='./images/car-suv.png', alt='SUV')
                                    button.car-select-button(id='select_suv') Select
                    .col-xs-12.col-sm-6.col-md-4.eq-height
                        article.car-single-compact
                            a(href='/cars/Van')
                                .car-category
                                    span.price From $ 16/day
                                    span.car-class Van
                                    span.passengers-bags 5 Adults, 7 Bags 
                                    span.car-image
                                        img(src='./images/car-van.png', alt='Van')
                                    button.car-select-button(id='select_van') Select
            #customer-reviews
                if context.length   
                    .row.eq-height
                        each review, i in context
                            .col-xs-12.col-sm-6.col-md-4.eq-height
                                article.review-compact
                                    .review-content
                                        .review-rating
                                            = '★★★★★'.substr(0, review.rating)
                                        p.review-text
                                            =review.content
                                        .review-author
                                            =review.author
                    if i%3
                        .row.eq-height
                else 
                    | No reviews provided
        .toastr
            #{req.toastr.render()}