mixin comment
    // Modal
    #myModal.modal.fade(role='dialog')
        .modal-dialog
            // Modal content
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal') ×
                    h4.modal-title Comment
                .modal-body
                    #leave-comment-page
                        form#comment-form(action='/car/comment/' + result.car._id, method='POST')
                            label(for='comment-form') Type your comment here
                            br
                            textarea#review-text.form-control(rows='8', cols='30', name='comment')
                            br
                            button.btn.btn-primary(type='submit') Send
                .modal-footer
                    .toastr
                        #{req.toastr.render()}

