extends _shared/_master

block adminpage
    #add-new-car
        h2#main-title Add New Car
        .row
            .col-xs-12
                != messages()
                form#add-car-form(action='/auth/addcar', method='POST', encType='multipart/form-data')
                    label(for='makemodel') Car Make and Model
                    br
                    input#name.form-control(type='text', name='makemodel', placeholder='E.g. Toyota Corolla')
                    br
                    label(for='category') Category
                    br
                    select.form-control(name='category', title='category')
                        option(value='Economy', title='Economy') Economy
                        option(value='Compact', title='Compact') Compact
                        option(value='Fullsize', title='Fullsize') Full-size
                        option(value='Premium', title='Premium') Premium
                        option(value='SUV', title='SUV') SUV
                        option(value='Van', title='Van') Van
                    br
                    label(for='carphoto') Picture
                    br
                    input(type='file', name='carphoto')
                    br
                    label.section Capacity
                    label(for='adultscount') Number of Adults
                    br
                    input#adults.form-control(type='text', name='adultscount', placeholder='E.g. 2, 4, 5, 7, max 20')
                    br
                    label(for='bagscount') Number of Bags
                    br
                    input#bags.form-control(type='text', name='bagscount', placeholder='E.g. 2, 4, 5, max 20')
                    br
                    label(for='doorscount') Number of Doors
                    br
                    input#doors.form-control(type='text', name='doorscount', placeholder='E.g. 2, 4, max 5')
                    br
                    label.section Car Details
                    label(for='fueltype') Fuel Type
                    select.form-control(name='fueltype', title='FuelType')
                        option(value='Petrol', title='Petrol') Petrol
                        option(value='Diesel', title='Diesel') Diesel
                        option(value='Hybrid', title='Hybrid') Hybrid
                        option(value='Electric', title='Electric') Electric
                    br
                    label(for='transmission') Transmission
                    select.form-control(name='transmission', title='Transmission')
                        option(value='Manual', title='Manual') Manual
                        option(value='Automatic', title='Automatic') Automatic
                    br
                    label(for='mileage') Mileage
                    input#mileage.form-control(type='text', name='mileage', placeholder='E.g. 34Mpg')
                    br
                    label(for='yearofmanufacture') Year of Manufacture
                    select.form-control(name='yearofmanufacture', title='YearofManufacture')
                        option(value='2010', title='2010') 2010
                        option(value='2011', title='2011') 2011
                        option(value='2012', title='2012') 2012
                        option(value='2013', title='2013') 2013
                        option(value='2014', title='2014') 2014
                        option(value='2015', title='2015') 2015
                        option(value='2016', title='2016') 2016
                        option(value='2017', title='2017') 2017
                    br
                    label(for='airconditioner') Air Conditioner
                    input#air_conditioner.fom-control(type='checkbox', value='1', name='airconditioner')
                    br
                    label.section Price
                    label(for='baseprice') Base price per Day
                    input#base_price.form-control(type='text', name='baseprice', placeholder='Price in $ - e.g. 20')
                    br
                    label(for='specialprice') Special price per Day
                    input#special_price.form-control(type='text', name='specialprice', placeholder='Price in $ - e.g. 14.99')
                    br
                    label(for='specialpriceactivated') Activate Special Price
                    input#activate_special_price.fom-control(type='checkbox', value='1', name='specialpriceactivated')
                    br
                    br
                    button.btn.btn-primary(type='submit') Add Car