extends _shared/_master

block adminpage
    #view-bookings
        h2#main-title View Bookings
        .row
            .col-xs-12
                article.booking.header
                    .booking-user User
                    .booking-car-model Car Model
                    .booking-pickup Pickup Date
                    .booking-dropoff Dropoff Date
                    .booking-status Status
                    .booking-total-price Total Price
            .col-xs-12
                article.booking
                    .booking-user
                        a(href='#') Pesho
                    .booking-car-model Toyota Corolla
                    .booking-pickup 22/07/2017
                    .booking-dropoff 24/07/2017
                    .booking-status Pending
                    .booking-total-price $109
            .col-xs-12
                article.booking
                    .booking-user
                        a(href='#') Pesho
                    .booking-car-model Toyota Corolla
                    .booking-pickup 22/05/2017
                    .booking-dropoff 24/05/2017
                    .booking-status Pending
                    .booking-total-price $49
            .col-xs-12
                article.booking
                    .booking-user
                        a(href='#') Pesho
                    .booking-car-model Toyota Corolla
                    .booking-pickup 22/04/2017
                    .booking-dropoff 24/04/2017
                    .booking-status Pending
                    .booking-total-price $99
            .col-xs-12
                article.booking
                    .booking-user
                        a(href='#') Pesho
                    .booking-car-model Toyota Corolla
                    .booking-pickup 22/03/2017
                    .booking-dropoff 24/03/2017
                    .booking-status Pending
                    .booking-total-price $79
            .col-xs-12
                article.booking
                    .booking-user
                        a(href='#') Pesho
                    .booking-car-model Toyota Corolla
                    .booking-pickup 22/01/2017
                    .booking-dropoff 24/01/2017
                    .booking-status Pending
                    .booking-total-price $89
            .col-xs-12
                article.booking
                    .booking-user
                        a(href='#') Pesho
                    .booking-car-model Toyota Corolla
                    .booking-pickup 22/07/2017
                    .booking-dropoff 24/07/2017
                    .booking-status Pending
                    .booking-total-price $109
            .col-xs-12
                article.booking
                    .booking-user
                        a(href='#') Pesho
                    .booking-car-model Toyota Corolla
                    .booking-pickup 22/05/2017
                    .booking-dropoff 24/05/2017
                    .booking-status Finished
                    .booking-total-price $49
            .col-xs-12
                article.booking
                    .booking-user
                        a(href='#') Pesho
                    .booking-car-model Toyota Corolla
                    .booking-pickup 22/04/2017
                    .booking-dropoff 24/04/2017
                    .booking-status Finished
                    .booking-total-price $99
            .col-xs-12
                article.booking
                    .booking-user
                        a(href='#') Pesho
                    .booking-car-model Toyota Corolla
                    .booking-pickup 22/03/2017
                    .booking-dropoff 24/03/2017
                    .booking-status Finished
                    .booking-total-price $79
            .col-xs-12
                article.booking
                    .booking-user
                        a(href='#') Pesho
                    .booking-car-model Toyota Corolla
                    .booking-pickup 22/01/2017
                    .booking-dropoff 24/01/2017
                    .booking-status Finished
                    .booking-total-price $89