extends _shared/_master

block adminpage
    #view-users
        h2#main-title View Users
        .row
            .col-xs-12
                article.users.header
                    .user-username Username
                    .user-name Name
                    .user-phone Phone Number
                    .user-email Email
                    .user-edit Operation
            .col-xs-12
                article.users
                    .user-username dan4o
                    .user-name Jordan Hristov
                    .user-phone 0897 44 55 66
                    .user-email dan4o@yahoo.com
                    .user-edit
                        a(href='/auth/profile') Edit
            .col-xs-12
                article.users
                    .user-username dan4o
                    .user-name Jordan Hristov
                    .user-phone 0897 44 55 66
                    .user-email dan4o@yahoo.com
                    .user-edit
                        a(href='/auth/profile') Edit
            .col-xs-12
                article.users
                    .user-username dan4o
                    .user-name Jordan Hristov
                    .user-phone 0897 44 55 66
                    .user-email dan4o@yahoo.com
                    .user-edit
                        a(href='/auth/profile') Edit
            .col-xs-12
                article.users
                    .user-username dan4o
                    .user-name Jordan Hristov
                    .user-phone 0897 44 55 66
                    .user-email dan4o@yahoo.com
                    .user-edit
                        a(href='/auth/profile') Edit
            .col-xs-12
                article.users
                    .user-username dan4o
                    .user-name Jordan Hristov
                    .user-phone 0897 44 55 66
                    .user-email dan4o@yahoo.com
                    .user-edit
                        a(href='/auth/profile') Edit
            .col-xs-12
                article.users
                    .user-username dan4o
                    .user-name Jordan Hristov
                    .user-phone 0897 44 55 66
                    .user-email dan4o@yahoo.com
                    .user-edit
                        a(href='/auth/profile') Edit
            .col-xs-12
                article.users
                    .user-username dan4o
                    .user-name Jordan Hristov
                    .user-phone 0897 44 55 66
                    .user-email dan4o@yahoo.com
                    .user-edit
                        a(href='/auth/profile') Edit
            .col-xs-12
                article.users
                    .user-username dan4o
                    .user-name Jordan Hristov
                    .user-phone 0897 44 55 66
                    .user-email dan4o@yahoo.com
                    .user-edit
                        a(href='/auth/profile') Edit
            .col-xs-12
                article.users
                    .user-username dan4o
                    .user-name Jordan Hristov
                    .user-phone 0897 44 55 66
                    .user-email dan4o@yahoo.com
                    .user-edit
                        a(href='/auth/profile') Edit
            .col-xs-12
                article.users
                    .user-username dan4o
                    .user-name Jordan Hristov
                    .user-phone 0897 44 55 66
                    .user-email dan4o@yahoo.com
                    .user-edit
                        a(href='/auth/profile') Edit