extends _shared/_master

block adminpage
    #view-cars
        h2#main-title View Cars
        .sort-by-wrapper
            .sort-cars-by
                span.sort-by-text Sort by:
                select#sort_by_category(name='sort_by_category')
                    option(value='', disabled='', selected='') By Price
                    option(value='ascending', title='ascending') ascending
                    option(value='descending', title='descending') descending
        if context.length
            .row
                .col-xs-12
                    article.cars.header
                        .car-model Model
                        .car-category Category
                        .car-fuel-type Fuel Type
                        .car-price Price per Day
                        .car-edit Operation
                each car, i in context
                    .col-xs-12
                        article.cars
                            .car-model
                                = car.makemodel
                            .car-category
                                = car.category
                            .car-fuel-type
                                = car.fueltype
                            .car-price
                                = '$' + car.baseprice
                            .car-edit
                                a(href='/auth/editcar/' + car._id) Edit