extends _shared/_master

block title
    | Car Rentals - View Deals

block adminpage
    #view-deals
        h2#main-title View Deals
        if context.length
            .row
                .col-xs-12
                    article.cars.header
                        .car-model Model
                        .car-category Category
                        .car-fuel-type Fuel Type
                        .car-price Price per Day
                        .car-special-price Special Price
                each deal, i in context
                    .col-xs-12
                        article.cars
                            .car-model
                                != deal.makemodel
                            .car-category
                                != deal.category
                            .car-fuel-type
                                != deal.fueltype
                            .car-price
                                != '$' + deal.baseprice
                            .car-special-price
                                != '$' + deal.specialprice