extends _shared/_master

block title
    | Car Rentals - View Bookings

block adminpage
    #view-bookings
        h2#main-title View Bookings
        if context.length
            .row
                .col-xs-12
                    article.booking.header
                        .booking-user User
                        .booking-car-model Car Model
                        .booking-pickup Pickup Date
                        .booking-dropoff Dropoff Date
                        .booking-status Status
                        .booking-total-price Total Price
                each user, i in context
                    each b, j in user.bookings
                        .col-xs-12
                            article.booking
                                .booking-user
                                    =user.username
                                .booking-car-model
                                    =b.car.makemodel
                                .booking-pickup
                                    =moment(b.startdate).format('YYYY-MM-DD')
                                .booking-dropoff
                                    =moment(b.enddate).format('YYYY-MM-DD')
                                .booking-status 
                                    if b.startdate.valueOf() > new Date().valueOf()
                                        | Pending
                                    else if b.startdate.valueOf() < new Date().valueOf() && b.enddate.valueOf() > new Date().valueOf() 
                                        | In progress
                                    else if b.enddate.valueOf() < new Date().valueOf() 
                                        | Ended
                                    else
                                        | No status
                                .booking-total-price
                                    =b.totalprice + '$'
