extends ../../../_shared/_master

block main
    #main
        .container
            #dashboard
                .row
                    .col-xs-12.col-md-2
                        span.pull-right
                            strong Dashboard:
                    .col-xs-12.col-md-10.dashboard-pages
                        span
                            a(id='add-car-link' href='/auth/addcar') Add New Car
                        span
                            a(id='view-users-link' href='/auth/viewusers') View Users
                        span
                            a(id='view-cars-link' href='/auth/viewcars') View Cars
                        span
                            a(id='view-bookings-link' href='/auth/viewbookings') View Bookings
                        span
                            a(id='view-deals-link' href='/auth/viewdeals') View Deals
            .toastr
                #{req.toastr.render()}
            block adminpage