extends ../_shared/_master

block main
    #main
        .container
            #unauthorized
                .row
                    .col-xs-12
                        | You need to be an Admin to access this page.