extends ../_shared/_master

block title
    | Car Rentals - Unauthorized Area

block main
    #main
        .container
            #unauthorized
                .row
                    .col-xs-12.oops
                        | OOPS!
                    .col-xs-12.text
                        .credentials
                            | You need credentials to access this page.
                        .buymebeer
                            | Buy me a Beer and i will think about giving you some.