extends ../_shared/_master

block title
    | Car Rentals - Page Not Found

block main
    #main
        .container
            #page-missing
                .row
                    .col-xs-12.oops
                        | 404!
                    .col-xs-12.text
                        .something-wrong
                            | Something just went wrong!
                        .page-not-found
                            | Page not Found!