extends ../_shared/_master
include ../auth/modals/comment.pug

block main
    #main
        .container
            #car-details
                .row
                    .col-xs-12.col-md-4.border-right-1px
                        .car-model Toyota Corolla
                        .car-price From $15 per Day
                        span.car-image
                            img(src='./images/4door-sedan.png', alt='Economy car')
                    .col-xs-12.col-md-8
                        .car-info
                            .car-capacity
                                span.car-passengers 5 Adults
                                span.car-bags 2 Bags
                                span.car-doors 2-4 Doors
                            .car-class Economy
                            .row
                                .col-xs-12.col-md-5
                                    ul.car-features
                                        li Fuel type: Petrol
                                        li Mileage: 36 Mpg
                                        li Transmission: Manual
                                .col-xs-12.col-md-5
                                    ul.car-features
                                        li Air Conditioning
                                        li Model 2015
                                        li * Unlimited mileage included
                            button.book-now Book Now
            #comments
                h2#comments-title Comments
                if context.comments.length   
                    each comment in context.comments
                        .single-comment
                            .comment-author
                                strong Author:
                                    =comment._author
                            .comment-text 
                                =comment._content
                else
                    | No comments added, be the first to comment this car!
                #add-new-comment
                    button#add-new-comment-btn(type='button', data-toggle='modal', data-target='#myModal') Add new comment
                +comment