extends ../_shared/_master

block title
    | Car Rentals - Category: #{category}

block main
    #main
        .container
            #car-rentals
                .cars-title All cars from Category: #{category}
                .sort-cars-by
                    span.sort-by-text Sort by:
                    select#sort_by_category(name='sort_by_category')
                        option(value='', disabled='', selected='') By Price
                        option(value='ascending', title='ascending') ascending
                        option(value='descending', title='descending') descending
                if context.length
                    .row
                        each car, i in context
                            .col-xs-12
                                article.car-single-search
                                    a(href='/car/' + car._id)
                                        .car-category
                                            .price-container
                                                if car.specialpriceactivated
                                                    span.original-price
                                                        = '$' + car.baseprice + ' / Day'
                                                span.total-price
                                                    = '$' + car.specialprice + ' / Day'
                                                span.total Total
                                                button.view-deal-button View Deal
                                            .car-info
                                                .car-class
                                                    = car.category
                                                .car-model
                                                    = car. makemodel
                                                .car-capacity
                                                    span.car-passengers 
                                                        = car.adultscount + ' Adults'
                                                    span.car-bags 
                                                        = car.bagscount + ' Bags'
                                                    span.car-doors
                                                        = car.doorscount + ' Doors'
                                                .offer-details * Unlimited mileage included
                                            span.car-image
                                                img(src='../' + car.carphotolink)
                else
                    .row
                        .col-xs-12 There are no cars in this category.