extends ../_shared/_master

block main
    #main
        .container
            #car-rentals-deals
                .cars-title Check out our Great Deals
                if context.length
                    .row
                        - var saving = 0
                        each car, i in context
                            .col-xs-12
                                article.car-single-search
                                    a(href='/car/' + car._id)
                                        .car-category
                                            .price-container
                                                span.original-price
                                                    = '$' + car.baseprice + ' / Day'
                                                span.total-price
                                                    = '$' + car.specialprice + ' / Day'
                                                span.total Total
                                                button.view-deal-button View Deal
                                            .car-info
                                                .car-class
                                                    = car.category
                                                .car-model
                                                    = car. makemodel
                                                .car-capacity
                                                    span.car-passengers 
                                                        = car.adultscount + ' Adults'
                                                    span.car-bags 
                                                        = car.bagscount + ' Bags'
                                                    span.car-doors
                                                        = car.doorscount + ' Doors'
                                                .offer-details * Unlimited mileage included
                                                - saving = ((1 - car.specialprice/car.baseprice)*100).toFixed(2)
                                                .save-percent
                                                    = 'Get this deal - Save ' + saving + '%'
                                            span.car-image
                                                img(src=car.carphotolink)
                else
                    .row
                        .col-xs-12 There are no deals at this moment.