extends ../_shared/_master

block main
    #main
        .container
            #car-rentals-deals
                .cars-title Check out our Great Deals
                .row
                    .col-xs-12
                        article.car-single-search
                            a(href='#')
                                .car-category
                                    .price-container
                                        span.original-price $50 / day
                                        span.total-price $30 / day
                                        span.total Total
                                        button.view-deal-button View Deal
                                    .car-info
                                        .car-class Economy
                                        .car-model Toyota Corolla or similar
                                        .car-capacity
                                            span.car-passengers 5 Adults
                                            span.car-bags 2 Bags
                                            span.car-doors 2-4 Doors
                                        .offer-details * Unlimited mileage included
                                        .save-percent Get this deal - Save 33%
                                    span.car-image
                                        img(src='./images/4door-sedan.png', alt='Economy car')
                    .col-xs-12
                        article.car-single-search
                            a(href='#')
                                .car-category
                                    .price-container
                                        span.original-price $50 / day
                                        span.total-price $30 / day
                                        span.total Total
                                        button.view-deal-button View Deal
                                    .car-info
                                        .car-class Economy
                                        .car-model Toyota Corolla or similar
                                        .car-capacity
                                            span.car-passengers 5 Adults
                                            span.car-bags 2 Bags
                                            span.car-doors 2-4 Doors
                                        .offer-details * Unlimited mileage included
                                        .save-percent Get this deal - Save 33%
                                    span.car-image
                                        img(src='./images/4door-sedan.png', alt='Economy car')
                    .col-xs-12
                        article.car-single-search
                            a(href='#')
                                .car-category
                                    .price-container
                                        span.original-price $50 / day
                                        span.total-price $30 / day
                                        span.total Total
                                        button.view-deal-button View Deal
                                    .car-info
                                        .car-class Economy
                                        .car-model Toyota Corolla or similar
                                        .car-capacity
                                            span.car-passengers 5 Adults
                                            span.car-bags 2 Bags
                                            span.car-doors 2-4 Doors
                                        .offer-details * Unlimited mileage included
                                        .save-percent Get this deal - Save 33%
                                    span.car-image
                                        img(src='./images/4door-sedan.png', alt='Economy car')