extends ../_shared/_master

block main
    #main
        .container
            #car-rentals
                .cars-title
                    | Showing cars available for your chosen dates:
                    span.chosen-dates 22.07 - 24.07
                .sort-cars-by
                    span.sort-by-text Sort by:
                    select#sort_by_category(name='sort_by_category')
                        option(value='', disabled='', selected='') By Price
                        option(value='ascending', title='ascending') ascending
                        option(value='descending', title='descending') descending
                .row
                    .col-xs-12
                        article.car-single-search
                            a(href='#')
                                .car-category
                                    .price-container
                                        span.total-price $50 / day
                                        span.total Total
                                        button.view-deal-button View Deal
                                    .car-info
                                        .car-class Economy
                                        .car-model Toyota Corolla or similar
                                        .car-capacity
                                            span.car-passengers 5 Adults
                                            span.car-bags 2 Bags
                                            span.car-doors 2-4 Doors
                                        .offer-details * Unlimited mileage included
                                    span.car-image
                                        img(src='./images/4door-sedan.png', alt='Economy car')
                    .col-xs-12
                        article.car-single-search
                            a(href='#')
                                .car-category
                                    .price-container
                                        span.total-price $50 / day
                                        span.total Total
                                        button.view-deal-button View Deal
                                    .car-info
                                        .car-class Economy
                                        .car-model Toyota Corolla or similar
                                        .car-capacity
                                            span.car-passengers 5 Adults
                                            span.car-bags 2 Bags
                                            span.car-doors 2-4 Doors
                                        .offer-details * Unlimited mileage included
                                    span.car-image
                                        img(src='./images/4door-sedan.png', alt='Economy car')
                    .col-xs-12
                        article.car-single-search
                            a(href='#')
                                .car-category
                                    .price-container
                                        span.total-price $50 / day
                                        span.total Total
                                        button.view-deal-button View Deal
                                    .car-info
                                        .car-class Economy
                                        .car-model Toyota Corolla or similar
                                        .car-capacity
                                            span.car-passengers 5 Adults
                                            span.car-bags 2 Bags
                                            span.car-doors 2-4 Doors
                                        .offer-details * Unlimited mileage included
                                    span.car-image
                                        img(src='./images/4door-sedan.png', alt='Economy car')
